In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

from config import (user,password ,host,port,database)
import sqlalchemy
from sqlalchemy import create_engine, inspect

In [ ]:
engine = create_engine(f"postgresql://{user}:{password}@localhost:{port}/{database}")
conn = engine.connect()

In [ ]:

inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
columns = inspector.get_columns('employees')
for c in columns:
    print(c['name'],c['type'])

In [ ]:
columns = inspector.get_columns('employees')
for c in columns:
    print(c['name'],c['type'])

In [ ]:
columns = inspector.get_columns('salaries')
for c in columns:
    print(c['name'],c['type'])

In [ ]:
columns = inspector.get_columns('titles')
for c in columns:
    print(c['name'],c['type'])

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees.
first_n = []
last_n = []
salary = []

In [ ]:
hist_result = engine.execute("SELECT employees.first_name, employees.last_name, salaries.salary 
                             FROM employees  JOIN salaries ON employees.emp_no = salaries.emp_no";)
for r in hist_result:
    first_n.append(first_name)
    last_n.append(last_name)
    salary.append(float(salary))

In [ ]:
common_salary_df = pd.DataFrame({'First Name':first_n,'Last Name':last_n,'Salary':salary})
common_salary_df['Salary'].max()

In [ ]:
common_salary_df.plot(kind = 'hist',grid=True);

In [ ]:
title_result = engine.execute("SELECT 
                              titles.title,
                              employees.emp_no ,
                              AVG('salaries.salary') AS average_salary
                              FROM titles 
                              left JOIN salaries
                              ON employees.emp_no = salaries.emp_no 
                              left join titles
                              on titles.title_id =employees.title_id
                             GROUP BY titles.title ;")

In [ ]:
title = []
average_salary = []
for r in title_result:
    average_salary.append(float(r.average_salary))

In [ ]:
 #Create a bar chart of average salary by title.
avg_title_salary_df.plot(x ='Title', y='Average Salary',title = "Average Salary by Title",kind = 'bar');